 /*patrones del CSS*/
 
H6, { font-family: 'Permanent Marker', cursive; }
H1, H2, H3, H4, H5 { font-family: 'Barlow', sans-serif; }
p, a, button, form, input, select, option, textarea, em, span, strong, div { font-family: 'Roboto', sans-serif; }

heder, main, footer, aside, section, article, figure, nav, div { display: block; }



/* Maquetacion, Estilo y Acabados en CSS */
 
/* whatsapp button */
aside#whatasapp {  }
aside#whatasapp a {  }
aside#whatasapp a i {  }
aside#whatasapp a:hover {  }
aside#whatasapp a:hover i {  }

/* Scrolltop Button */
aside#scroll-top {  }
aside#scroll-top a {  }
aside#scroll-top a i {  }
aside#scroll-top a:hover  {  }
aside#scroll-top a:hover  i {  }

/* header */
header {  }
header figure {  }
header figure a {  }
header figure a img {  }
header figure a:hover {  }
header figure a:hover img {  }

/* main */
main {  }

main section#burger {  }
main section#burger div.contenido-centrado {  }
main section#burger div.contenido-centrado article {  }
main section#burger div.contenido-centrado article h6 {  }
main section#burger div.contenido-centrado article h3 {  }
main section#burger div.contenido-centrado article {  } 