 /*patrones del CSS*/
 
H6, { font-family: 'Permanent Marker', cursive; }
h1, h2, h3, h4, h5 { font-family: 'Barlow', sans-serif; }
p, a, button, form, input, select, option, textarea, em, span, strong, div { font-family: 'Roboto', sans-serif; }

body { margin: 0 !important; }

header, main, footer, aside, section, article, figure, nav, div { display: block; }



/* Maquetacion, Estilo y Acabados en CSS */
 
/* whatsapp button */
aside#whatasapp {  }
aside#whatasapp a {  }
aside#whatasapp a i {  }
aside#whatasapp a:hover {  }
aside#whatasapp a:hover i {  }


/* Scrolltop Button */
aside#scroll-top {  }
aside#scroll-top a {  }
aside#scroll-top a i {  }
aside#scroll-top a:hover  {  }
aside#scroll-top a:hover  i {  }



/* header */
header { width: 100%;height: 100px;margin: 0;float: none;position: fixed;top: 0;left: 0;z-index: 99999;background: #fff; }
header article { width: 1100pheight: 100pmargin: 0 autfloat: nonposition: relative; }

header article figure { width: 8height: 9marginfloat: lposition: relative; }
header article figure a { width: 78px;height: 90px;margin: 0 auto;float: none;position: relative;display: block; }
header article figure a img { width: auto;height: 90px;display: block;margin: 0;float: none;position: relative; }
header article figure a:hover { transform: scale(1.05); transition: a11 0.3s ease-in; }
header article figure a:hover img { transition: a11 0.3s ease-in; }

header article nav { width: 412px;height: 50px;margin: 25px 0;float: right;position: relative; }
header article nav a { width: auto;height: auto;margin: 0;float: left;position: relative;display: block;color: #9e0f0f;text-decoration: none;font-size: 0.95em;line-height: 1em;font-weight: 500;padding: 17.5px 15px 8px;text-transform: uppercase;letter-spacing: 0.05em; border-bottom: solid 2px #ffftransition: a11 0.3s ease-in; }
header article nav a:hover {  color: rgb(0, 0, 0); border-bottom: solid 2px #9e0f0f; transition: a11 0.3s ease-in; }

/* main */
main {  }



/* Burgers */
main section#burgers {  }
main section#burgers div.contenido-centrado {  }

main section#burgers div.contenido-centrado article {  }
main section#burgers div.contenido-centrado article h6 {  }
main section#burgers div.contenido-centrado article h3 {  }

main section#burgers div.contenido-centrado figure {  }
main section#burgers div.contenido-centrado figure div.producto {  }
main section#burgers div.contenido-centrado figure div.producto img {  }
main section#burgers div.contenido-centrado figure div.producto div.info-producto {  }
main section#burgers div.contenido-centrado figure div.producto div.info-producto h5 {  }
main section#burgers div.contenido-centrado figure div.producto div.info-producto h4 {  }
main section#burgers div.contenido-centrado figure div.producto div.info-producto p.texto-producto {  }
main section#burgers div.contenido-centrado figure div.producto div.info-producto div.puntos {  }
main section#burgers div.contenido-centrado figure div.producto div.info-producto p.precio-producto {  }












/* FOOTER */
footer { width: 100%;height: 100px;margin: 0;float: none;position: relative; background-image: url("V1/Img/shape-down.png"), url("V1/Img/footer_bg.png"); background-repeat: no-repeat, no-repeat; background-position: top center, top center; background-color: transparent, #333; background-size: cover, cover; }
footer article { width: 1100px;height: 200px;margin: 0 auto;float: none;position: relative; }
footer article hr { width: 452px;height: 1px;display: block;margin: 99px 0;float: left;border: none;background: #555; }
footer article figure { width: 108px;height: 149px;margin: 25px 40px;float: left;position: relative; }
footer article figure a { width: 108px;height: 149px;margin: 0 auto;float: none;position: relative;display: block;transition: a11 0.3s ease-in; }
footer article figure a img  { width: auto;height: 149px;display: block;margin: 0 auto;float: none;position: relative;transition: a11 0.3s ease-in; }
footer article figure a:hover { transform: scale(1.05); transition: a11 0.3s ease-in; }
footer article figure a:hover img { transition: a11 0.3s ease-in; }


